<%= render 'layouts/header' %>
<div class="background_image">
    <% @projects.each do |project| %>
      <%= content_tag :div, class: "project_selector", onclick: "window.location.href = '"+ url_for(project)+"';" do -%>
        <h2><%= project.name %> <br></h2>
        <h4><p>Made by <%= project.creator %><p/></h4><%= link_to " ", projects_path(project)%>
      <% end -%>
    <% end -%>
</div>
