<%= render 'layouts/header' %>
<div id="background" class="background">
  <div class="center_text">
    <h1 ><%= @project.name %></h1>
  </div>
  <div style="text-align:right;padding:10px;">
    <h4>Made by: <%=@project.creator%>
    <br>Price to implement: <%=@project.cost %> €
    <br>
    Started at <%=@project.started_at.strftime('%a, %d %b %Y') %>. <br> <%=time_ago_in_words @project.started_at %> ago
    <%= link_to "Back to Index", projects_path %></h4>
  </div>
  <div class="project_text">
    <%= markdown(@project.body) %>
  </div>
</div>
